:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --gray-text-op100: rgba(117, 117, 117, 1);
  --gray-text-op60: rgba(255, 255, 255, 0.6);
  --black-text: rgba(33, 33, 33, 1);
  --gray-background: rgba(47, 48, 58, 1);
}

.logo,
.links-item,
.contakts-item,
.hero-btn,
.logo-footer,
.adress {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.logo {
  color: var(--black-text);
}

.logo-footer {
  color: var(--white-text);
}

.web {
  color: var(--blue-text);
}

.contakts-item {
  color: var(--gray-text-op100);
}

.links-item:hover,
.links-item:focus,
.contakts-item:hover,
.contakts-item:focus {
  color: var(--blue-text);
}

.btn:hover {
  background: var(--blue-text);
  color: var(--white-text);
}

.footer {
  background: var(--gray-background);
  color: var(--white-text);
}

.adress {
  color: var(--white-text);
}

.post-title,
.ot-list-itemh {
  color: var(--black-text);
}

.post-text,
.ot-list-itemp {
  color: var(--gray-text-op100);
}
