.hero {
  background: var(--gray-background);
  color: var(--white-text);
}

.btn {
  background: var(--blue-text);
  color: var(--white-text);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.ot {
  background: var(--gray-background2);
}
