.btn:hover {
  background: var(--blue-text);
  color: var(--white-text);
}

.post-itemh {
  color: var(--black-text);
}

.post-itemps,
.post-itempd,
.post-itempm,
.post-itempa {
  color: var(--gray-text-op100);
}
